/*Commented out code is for the original map attempt, didn't want to remove it so I could refer back in case I needed to/*
/*html,
body,
#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
        float: left;
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
*/
html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}
#map-canvas {
  height: 100%
}

.search-form {
  position: fixed;
  top: 30px;
  left: 25px;
  z-index: 9999;
  background: rgba(0,0,0,0.25);
  padding: 20px;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

#player {
  position: fixed;
  top:30px;
  right: 25px;
  z-index: 9999;
  background: rgba (0,0,0,0.25);
  padding: 20px;
  height: 200px;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.search-bar,
.search_input {
  height: 80%;
  border: none;
}

.search-bar {
  padding: 5px 8px;
  width: 233px;
  border-radius: 10px;
}

.search-submit {
  margin-left: 8px;
  padding: 8px 13px;
  background: #333;
  color: white;
  background-color: red;
  font-size: 14px;
  font-weight: bold;
  border: solid black 2px;
}

/*#pointList {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 18%;
  min-width: 200px;
  height: 80%;
  background-color: red;
  color: black;
  font-size: 1.2em;
  border-radius: 15px;
  border: 5px solid black;
  opacity: .6;
  display: inline-block;
}

/*needs some work, but raw css for search background-repeat */
