
html {
  height: 100%
}
body {
  height: 100%;
  margin: 0;
  padding: 0
}

.player {
 -webkit-transform:translate3d(0,0,0);
}

#map-canvas {
  height: 100%;
  z-index: 0001
}

#search-form {
  position: fixed;
  top: 30px;
  right: 25px;
  z-index: 9999;
  background: rgba(0,0,0,0.25);
  padding: 20px;
  height: 55px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}
.search-bar {
  padding: 5px 8px;
  width: 233px;
  border-radius: 10px;
}

.search-submit {
  margin-left: 8px;
  padding: 8px 13px;
  background: #333;
  color: white;
  background-color: red;
  font-size: 14px;
  font-weight: bold;
  border: solid black 2px;
}

#pointList {
  position: fixed;
  left: 10px;
  top: 30px;
  width: 20%;
  min-width: 200px;
  height: 35%;
  background-color: red;
  color: black;
  font-size: 1.2em;
  border-radius: 15px;
  border: 5px;
  border-color: rgba(0,0,0,0.25);
  opacity: .7;
  display: inline-block;
  z-index: 9999;
  overflow: auto;
}

/*needs some work, but raw css for search background-repeat */
